:root {
  --cell-size: 3rem;
  --cell-gap: 1rem;
  --border-style: 1px solid black;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.icon {
  display: inline-block;
}
.icon svg {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

#warstro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Game Board */
  /* Game Action Area */
}
#warstro #warstro-board {
  display: grid;
  gap: var(--cell-gap);
  grid-template-rows: var(--cell-size) auto;
  grid-template-columns: calc(var(--cell-size) * 2) auto;
  /* Central Area */
  /* Indicators */
}
#warstro #warstro-board .warstro-cell,
#warstro #warstro-board .warstro-indicator {
  border: var(--border-style);
  width: var(--cell-size);
  height: var(--cell-size);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#warstro #warstro-board #warstro-cells {
  grid-row: 2;
  grid-column: 2;
}
#warstro #warstro-board #warstro-cells .warstro-row {
  display: flex;
}
#warstro #warstro-board #warstro-cells .warstro-cell.ownedby-0 {
  background-color: aquamarine;
}
#warstro #warstro-board #warstro-cells .warstro-cell.ownedby-1 {
  background-color: cornflowerblue;
}
#warstro #warstro-board #warstro-cells .warstro-cell.ownedby-2 {
  background-color: crimson;
}
#warstro #warstro-board #warstro-cells .warstro-cell.ownedby-3 {
  background-color: coral;
}
#warstro #warstro-board #warstro-board-top,
#warstro #warstro-board #warstro-board-side {
  display: flex;
}
#warstro #warstro-board #warstro-board-top .warstro-indicators,
#warstro #warstro-board #warstro-board-side .warstro-indicators {
  display: flex;
}
#warstro #warstro-board #warstro-board-top #warstro-daylight-indicators .warstro-indicator,
#warstro #warstro-board #warstro-board-side #warstro-daylight-indicators .warstro-indicator {
  border: none;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#warstro #warstro-board #warstro-board-top#warstro-board-top,
#warstro #warstro-board #warstro-board-side#warstro-board-top {
  grid-row: 1;
  grid-column: 2;
}
#warstro #warstro-board #warstro-board-top#warstro-board-side,
#warstro #warstro-board #warstro-board-side#warstro-board-side {
  grid-row: 2;
  grid-column: 1;
}
#warstro #warstro-board #warstro-board-top#warstro-board-side > div,
#warstro #warstro-board #warstro-board-side#warstro-board-side > div {
  flex-direction: column;
}
#warstro #warstro-action #warstro-action-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  margin: 1rem 0;
}
#warstro #warstro-action #warstro-action-display #warstro-dice .icon {
  border: 0.3rem solid black;
  background-color: #fff;
  padding: 0.5rem;
  margin: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#warstro #warstro-action #warstro-action-display #warstro-dice .icon svg {
  width: 2rem;
  height: 2rem;
}
#warstro #warstro-action #warstro-action-panels {
  display: flex;
  gap: 2rem;
}
#warstro #warstro-action #warstro-action-panels .player-panel {
  border: 1px solid #ccc;
  padding: 1rem;
}
#warstro #warstro-action #warstro-action-panels .player-panel:not(.active) {
  opacity: 0.3;
  user-select: none;
  pointer-events: none;
}

/*# sourceMappingURL=index.css.map */
