:root {
    --cell-size: 2rem;
}

* {
    box-sizing: border-box
}

.warstro-row {
    display: flex;
}

.warstro-cell {
    border: 1px solid black;
    width: var(--cell-size);
    height: var(--cell-size);
}
